.container{
    width: 1000px;
}

h1{
    text-align: center;
    opacity: 0.7;
    margin: 50px 150px 50px 200px;
    padding: 10px;
    color: #fff;
    /*border: 4px double #2e6da4;*/
    /*border-radius: 30px;*/
}

.innerWrapper{
    background: #222222;
    display: block;
    width: 850px;
    height: 400px;
    margin: auto;
    opacity:0.8;
    font-size: 18px;
}
