.display{
    overflow: scroll;
}

.wrapper{
    display: block;
    width: 1000px;
    height:430px;
    margin: auto;
}

.filters{
    display: block;
    width: inherit;
    height: 70px;
}

.content-wrapper{
    display: block;
    width: inherit;
    height: 500px;
    overflow: scroll;
}

.container{
    width: 1000px;
}

.content{
    display: block;
    width: 250px;
    height: 200px;
    float:left;
    margin: auto;
}

.rounded.float-left{
    width: inherit;
    height: inherit;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 4px double #2e6da4;
    float: left;
}

img:hover{
    width: 500px;
    height: 500px;
}

.cartList{
    overflow-y: scroll;
    height: 100px;
    margin: 10px 0 10px 0;
    /*opacity: ;*/
    background: dimgray;
}

.productInfo{
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 100px 0 100px;
    float: left;
}

.productInfo p{
    margin-top: 20px;
}

.btn.btn-block.btn-primary.btn-default{
    float: right;
    width: auto;
    background: #222222;
    margin-top: 10px;
}

.wrapper{
    height: 330px;
    max-height: 330px;
}

.cartList::-webkit-scrollbar{
    width: 14px;
}

.cartList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.cartList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

.moneyAmount{
    width: auto;
    float: left;
    margin-top: 10px;
}

.li.right{
    margin-left: 120px;
}

.noscroll{
    height: 330px;
    max-height: 330px;
    text-align: center;
    margin-top: 150px;
}

h1{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



