.display{
    overflow: scroll;
}


.wrapper{
    display: block;
    width: 1000px;
    height:430px;
    margin: auto;
}

.filters{
    display: block;
    width: inherit;
    height: 70px;
}

.content-wrapper{
    display: block;
    width: inherit;
    height: 500px;
    overflow: scroll;
}

.container{
    width: 1000px;
}

.content{
    display: block;
    width: 250px;
    height: 200px;
    float:left;
    margin: auto;
}

.rounded.float-left{
    width: inherit;
    height: inherit;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 4px double #2e6da4;
    float: left;
}

p{
    margin-top: 40px;
}

th{
    text-align: center;

}

table{
    opacity: 0.9;
}

.btn.btn-block.btn-primary.btn-default{
    float: right;
    width: 100px;
    background: #222222;
}


