.outer_container {
    margin: 20% 30% 20% 35%;
}

body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}

.full {
    background: url(https://img2.goodfon.ru/original/1920x1080/5/1e/lamborghini-veneno-superkar.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.col-md-6, .col-sm-12{
    color: #4cbde0;
}

.form-group{
    color: #4cbde0;
}

.form-actions {
    padding-top: 10px;
}